:root {
  --link: #fff;
  --text: #373737;
  /* colors */
  --green: #13b48b;
  --orange: #fc7d00;
  --popup-bg: #fff;
}

/* ==== General ==== */

a {
  text-decoration: none;
  color: var(--link);
}

textarea {
  resize: none;
  height: 70px;
  line-height: 20px;
  border-radius: 20px;
  padding: 4px 0;
}

ul,
li {
  list-style: none;
  text-align: left;
}

/* ==== App ==== */

.gpt {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: auto;
  margin-bottom: 130px;
  gap: 5px;
}

#app {
  height: 100vh;
  text-align: center;
}

#logo {
  display: block;
  width: 50%;
  height: 50%;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-origin: content-box;
}

.brand {
  margin-top: 100px;
  font-size: 30px;
}

.result {
  height: 20px;
  line-height: 20px;
  margin: 1.5rem auto;
}

.input-box textarea {
  width: 90%;
  height: 70px;
}

.input-box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: auto;
  gap: 5px;
}
.input-box .btn {
  line-height: 30px;
  border-radius: 3px;
  border: none;
  padding: 0 8px;
  cursor: pointer;
  background: var(--green);
  align-items: center;
}

.send-btn {
  display: flex;
  width: 30px;
  height: 40px;
  padding: 10px;
  align-items: center;
  text-align: center;
}

.btn img {
  width: 100%;
  transform: scale(0.75);
}

.btn path {
  color: #fff;
}

.faq-answ {
  color: var(--text);
  padding: 0 15px;
}

.q {
  font-weight: 700;
  margin-top: 5px;
}

.qa {
  font-weight: 500;
  list-style: circle inside;
  padding: 10px 0;
  color: var(--text);
}

.qa a {
  color: var(--text);
  text-decoration: underline;
}

.input-box .input {
  border: none;
  border-radius: 3px;
  outline: none;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  background-color: rgba(240, 240, 240, 1);
  -webkit-font-smoothing: antialiased;
}

.input-box .input:hover {
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

.input-box .input:focus {
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

.answer {
  margin-top: 50px;
  padding: 0 50px;
  overflow: auto;
  max-height: 300px;
}

.scrollable-content {
  text-align: left;
}

.input textarea {
  width: 20px;
  height: 70px;
  resize: none;
  padding: 5px 0px;
}

/* Settings */

.settings-popup {
  position: absolute;
  width: 100%;
  top: 20%;
  margin: 0px auto;
}
.popup-box {
  background: var(--popup-bg);
  width: 40%;
  margin: 0 auto;
  border-radius: 15px;
  padding: 20px 0;
  position: relative;
}
.settings-title {
  color: var(--text);
  font-weight: 700;
  font-size: 20px;
  padding: 20px 0;
}
.settings-form {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.settings-close {
  position: absolute;
  color: var(--text);
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.token {
  overflow-wrap: break-word;
}

/* Responsive */
@media screen and (max-width >= 1700px) {
  .input-box textarea {
    width: 10%;
    height: 80px;
  }
}
