:root {
  --link: #fff;
  --text: #373737;
  --bg: rgba(35, 39, 46, 1);
  --card-bg: rgba(45, 49, 56, 1);
  /* colors */
  --green: #13b48b;
  --orange: #fc7d00;
  --popup-bg: #fff;
  /* z-index */
  --z-default: 1;
  --z-float: 2;
  --z-upper: 3;
  --z-popup: 10;
}

/* ==== General ==== */

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--link);
}

textarea {
  width: 90%;
  resize: none;
  min-height: 20px;
  max-height: 160px;
  overflow-y: auto;
}

ul,
li {
  list-style: none;
  text-align: left;
}

/* ==== App ==== */

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#app {
  height: 100vh;
  text-align: center;
}

.gpt {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo-container__title {
  margin-top: 3%;
  margin-bottom: -30px;
}

/* GPT loading */
.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading-animation > div {
  margin: 0 auto;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: auto;
  margin-bottom: 130px;
  gap: 5px;
}

.brand {
  margin-top: 100px;
  font-size: 30px;
}

.result {
  height: 20px;
  line-height: 20px;
  margin: 1.5rem auto;
}

.input-box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: auto;
  gap: 5px;
}
.input-box .btn {
  line-height: 30px;
  border-radius: 3px;
  border: none;
  padding: 0 8px;
  cursor: pointer;
  background: var(--green);
  align-items: center;
}

.textarea-container {
  position: relative;
  width: 90%;
  display: flex;
  gap: 5px;
  align-items: end;
}

.textarea-container textarea {
  width: 100%;
  resize: none;
  min-height: 30px;
  max-height: 160px;
  overflow-y: auto;
}

.send-btn {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  align-items: end;
  text-align: center;
}

.btn img {
  width: 100%;
  transform: scale(0.75);
}

.btn path {
  color: #fff;
}

.input-box .input {
  border: none;
  border-radius: 3px;
  outline: none;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  -webkit-font-smoothing: antialiased;
}

.input {
  resize: none;
  height: auto;
  min-height: 40px;
  max-height: 200px;
  overflow: hidden;
}

.input-box .input:hover {
  border: none;
}

.input-box .input:focus {
  border: none;
}

.chat-history {
  position: relative;
  margin-top: 50px;
  padding: 0 20px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.gpt__question {
  text-align: left;
  margin-top: 60px;
  padding: 0 50px;
  overflow: auto;
  display: flex;
  align-items: start;
  gap: 5px;
}

.gpt__question__avatar {
  width: 20px;
  height: 20px;
  margin-top: 17px;
}

.gpt__question__avatar img {
  border-radius: 5px;
  width: 100%;
}


.gpt__answer {
  /* display: flex; */
  text-align: left;
  padding: 0 50px;
  overflow: auto;
}
.gpt__answer__wrapper {
  display: flex;
  gap: 5px;
}
.gpt__answer__avatar {
  width: 20px;
  height: 20px;
  margin-top: 17px;
}

.gpt__answer__avatar img {
  border-radius: 5px;
  width: 100%;
}


.answer {
  position: relative;
  margin-top: 50px;
  padding: 0 50px;
  overflow: auto;
}

.scrollable-content {
  text-align: left;
}
/* tap to down */
.scroll-to-bottom {
  position: fixed;
  bottom: 200px;
  right: 50px;
  width: 30px;
  height: 30px;
  background-color: var(--text);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: var(--z-float);
}

.scroll-to-bottom:before {
  content: "";
  width: 10px;
  height: 10px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #fff;
  transform: rotate(45deg);
}

/* Settings */

.settings-popup {
  position: absolute;
  width: 100%;
  top: 20%;
  margin: 0px auto;
}
.popup-box {
  background: var(--popup-bg);
  width: 40%;
  margin: 0 auto;
  border-radius: 15px;
  padding: 20px 0;
  position: relative;
  z-index: var(--z-popup);
}
.settings-title {
  color: var(--text);
  font-weight: 700;
  font-size: 20px;
  padding: 20px 0;
}
.settings-form {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.settings-close {
  position: absolute;
  color: var(--text);
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.token {
  overflow-wrap: break-word;
}

/* Responsive */
@media screen and (max-width >= 1700px) {
  .input-box textarea {
    width: 10%;
    height: 80px;
  }
}
